<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body

        header
        
            .header-top
                .areablanca
                .widgets-left
                    nav
                        ul
                            li
                                a(href="#") Mi cuenta
                            li
                                a(href="#") Lista de desesos
                            li
                                a(href="#") Comprar Lista

                .widgets-right
                    .moneda
                        span Moneda
                        span.tipomoneda USD $
                    .registro
                        span INICIAR SESION
                        SPan REGISTRO

        
                .areablanca
            .sitio-marca
                .site-logo
                    img(src="http://chromium.themes.zone/local/wp-content/uploads/sites/4/2018/05/Logotype_big.png", alt="")

                .grupo-sidebar
                    .buscar-input
                        form(action="#")
                            input(type="search" placeholder="Search by Title, Brand, Category ..." )#buscarinput
                            button(type="submit").btnbuscar BUSCAR
                    .widget-ayuda
                        img(src="http://mailing.serviciosmovistar.com/2019/Octubre/Mailing-mobil-b2/telefono.png", alt="")
                        span Línea de ayuda:
                        span 0 (800) 423-754
                        img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfO_JiDxHdakSk3-O0k2-A-8DiMto2MqGF_QMSc6_TchTqruqu&s", alt="")#carrito

            .site-navegacion
                .contenido-nav
                    .comprar-departamento
                        li.menu-list  
                            .lineas-menu
                                input(type="checkbox" id="toggle")
                                label(for="toogle" class="rows-container")
                                .rows
                                
                            .compra-depas
                                span COMPRA DEPARTAMENTOS

                        li Casa
                        li Tienda
                        li Blog
                        li Sobre nosotros
                        li Galeria
                        li Contactos
                        li Compre Este Tema



