*,ul,li{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #f6f6f6;
}
.header-top{
    background: #111;
    display: grid;
    grid-template-columns: 1fr 600px 600px 1fr;
    grid-template-rows: 50px;
}
.widgets-left nav{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
}

.widgets-left ul {
    display: flex;
    justify-content: space-between;
    width: 60%;
   
}
.widgets-left a{
    color: #81858c;
}

.widgets-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.widgets-right span{
    color: #fff;
}
.moneda{
    padding-right: 30px;
}

.tipomoneda{
    padding-left: 10px;
}
.sitio-marca{
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-template-rows: 100px;
    max-width: 1200px;
    margin: 0 auto;
}
.site-logo img{
    width: 200px;
}
.site-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnbuscar{
    padding: 0px;
    margin: -4px;
    border: 1px solid #111;
    width: 80px;
    color: #fff;
    background: #111;
    // line-height: 38px;
    height: 40px;
}

#buscarinput{
    width: 325px;
    height: 40px;
    border: 1px solid #d3d3d3;
    padding: 10px;
}

.grupo-sidebar{
    justify-content: center;
    display: flex;
    align-items: center;
}

.buscar-input form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buscar-input{
    width: 410px;
}

.widget-ayuda{
    margin-left: 20px;
}

#carrito{
    width: 35px;
    margin-left: 10px;
}

.contenido-nav{
    background: #fdb819;
    width: 100%;

}
.comprar-departamento{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.comprar-departamento li {
    color: #111;
    font-weight: bold;
}

.menu-list {
    display: flex;
    align-items: center;
    background: #111;
}

/* --menu */
.lineas-menu{
    width: 75px;
    height: 50px;
	min-height: 100%;
    position: relative;
    display: flex;
}

/* this is the checkbox */
#toggle{
	display: none;
}

/*display: flex for equal/auto child margins*/
.rows-container{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
/*	used a 16:9 ratio for width & height*/
	width: 480px;
	height: 50px;
	cursor: pointer;
	margin: auto;
	display: flex;
}

/*menu is responsive to dimensions of label/.rows-container above*/
.rows{
	position: relative;
	width: 28%;
    height: 6%;
	background-color: rgb(255, 255, 255);
    margin: auto;
    
    cursor: pointer;
	
	-o-transition: 0.46s;
	-ms-transition: 0.46s;
	-moz-transition: 0.46s;
	-webkit-transition: 0.46s;
	transition: 0.46s;
}

.rows:before, .rows:after{
	position: absolute;
	content: '';
	background-color: inherit;
	width: 100%;
	height: 100%;
	
	-o-transition: 0.46s;
	-ms-transition: 0.46s;
	-moz-transition: 0.46s;
	-webkit-transition: 0.46s;
	transition: 0.46s;
}

.rows:before{top: 200%;}

.rows:after{top: -200%;}

#toggle:checked + .rows-container .rows{
/*	possible rotations (either positive/negative) -> 45, 135, 225, 315*/
	transform: rotate(135deg)
}

#toggle:checked + .rows-container .rows:before, #toggle:checked + .rows-container .rows:after{
/*	possible rotations (either postive/negative -> 90, 270*/
	transform: rotate(90deg);
	top: 0
}

/* Fin*/

.compra-depas span{
    color: #fff;
    padding-right: 25px;
    font-weight: bold;
    font-size: 14px;
}


.banner-menu{
    background-image: url('http://chromium.themes.zone/local/wp-content/uploads/sites/4/2018/06/slide_3_opt.jpg');
    background-size: 100% 100%;
    height: 500px !important;
}
.banner-menu2{
    background-image: url('http://chromium.themes.zone/local/wp-content/uploads/sites/4/2018/06/slide_1_opt.jpg');
    background-size: 100% 100%;
    height: 500px !important;

}
.banner-menu3{
    background-image: url('http://chromium.themes.zone/local/wp-content/uploads/sites/4/2018/07/slide_2_opt.jpg');
    background-size: 100% 100%;
    height: 500px !important;

}


/**
--- Carrusel
**/
.contenedor-slick{
    max-width: 1200px;
    width: 90%;
    margin: auto;
    background: #d3d3d3;
}

.slide{
    width: 100%;
    height: 500px !important;
}

.slide1{
    background: #f65f5f;
}
.slide2{
    background: #318a7e;
}
.slide3{
    background: #b82c2c;
}

.slide .content h3{
    color: #fff;
    text-align: center;
    margin: 0;
}

.slick-dots li button:before{
    font-size: 35px !important;
    color: #fff !important;
}
.slick-dots{
    bottom: 20px !important;
}

#lienzoB_millon section{
    padding: 0 !important;
}

.seccionesText{
    display: grid;
    grid-template-columns: 700px 450px;
    justify-content: center;
    height: 100%;
    
}
.titulos-carrusel h2{
    color: #fff; 
}

.slick-next {
    right: 25px !important;
}

// .slick-prev:before { 
//     content: "→";
// }

.slick-prev {
    left: 25px !important;
    z-index: 100 !important;
}

.contenedidos-elementos{
    width: 1200px;
    margin: auto;
}

.banner-01 img{
    width: 350px;
    height: 250px;
    // transform: translate3d(-18px,0,0) scale(1.1);
    transition: opacity .35s,transform .35s;
    overflow: hidden;
}

.banner-01:hover img {
    -webkit-transform:scale(0.9);
    -moz-transform:scale(0.9);
    -ms-transform:scale(0.9);
    -o-transform:scale(0.9);
    transform:scale(0.9);
}

.elementos-banners{
    display: flex;
    justify-content: space-between;
}


.seccion-listado-productos{
    max-width: 1200px;
    margin: 0 auto;
}
.listaNavProductos{
    display: flex;
    align-items: center;
    height: 80px;
}

.ventaProductos{
    display: flex;
    align-items: center;
    width: 800px;
}

.ventaProductos ul{
    display: flex;
    justify-content: space-between;
}

.ventaProductos nav {
    width: 800px;
}
.ofrecemos{
    width: 400px;
}
.ofrecemos h2{
    font-size: 25px;
    margin: 0;
    position: relative;
}
.ofrecemos h2:hover{

    &:after{
        content: "";
        border: 1px solid;
        width: 268px;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: width .1s ease-out;

    }
}

.contenedor-lista{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.lista-producto{
    width: 270px;
    text-align: center;
    background: #fff;
    margin-bottom: 25px;
}

.contenedorProductos{
    padding: 20px;
}

footer{
    background: #212121;;
}
.footerfinal{
    display: grid;
    grid-template-columns: 1200px;
    justify-content: center;
}

.columnas-grid{
    display: grid;
    grid-template-columns: 370px 1fr 1fr 370px;
}

.logo-footer img{
    margin-top: 60px;
    width: 200px;
    margin-bottom: 30px;
}

.columna-footer1{
    color: #fff;
}